<h1 style="text-align: center;">List of employees</h1>
<div *ngFor="let employee of employees">
    <app-employee-card [employee]="employee" (selectionChange)="onItemSelected()"></app-employee-card>
</div>
<h2 style="text-align: center;">Operations</h2>
<form class="example-form">
    <!-- <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>ID</mat-label>
        <input matInput placeholder="ID:" [(ngModel)]="currentId" [ngModelOptions]="{standalone: true}">
    </mat-form-field> -->
    <img [src]="base64Image" alt="User image" width="500px" height="300px" />
    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>FirstName</mat-label>
        <input matInput placeholder="John" [(ngModel)]="currentEmployee.firstName" [ngModelOptions]="{standalone: true}">
    </mat-form-field>
    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>LastName</mat-label>
        <input matInput placeholder="Doe" [(ngModel)]="currentEmployee.lastName" [ngModelOptions]="{standalone: true}">
    </mat-form-field>
    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput placeholder="john.doe@host.com" [(ngModel)]="currentEmployee.email" [ngModelOptions]="{standalone: true}">
    </mat-form-field>

</form>

<div class="example-button-row">
    <!-- <button (click)="loadEmployee()" mat-raised-button>Get</button> -->
    <button (click)="addEmployee()" mat-raised-button color="primary">Add an employee</button>
    <button (click)="editEmployee()" mat-raised-button color="accent">Save current changes </button>
    <button (click)="deleteEmployee()" mat-raised-button color="warn">Delete employee</button>
    <input style="display: none" type="file" (change)="onFileChanged($event)" #fileInput>
    <button (click)="fileInput.click()" mat-raised-button>Select a photo</button>
</div>
<div>
    <h3>{{fileName}}</h3>
</div>
<!-- <mat-form-field>
            <mat-select (selectionChange)="OnSelectionChanged($event) " multiple placeholder="Product ">
                <mat-option *ngFor="let product of company.products " [value]="product.price ">
                    {{product.name}}
                </mat-option>
            </mat-select>
        </mat-form-field> -->