<h1>List of employees</h1>
<div *ngFor="let employee of employees">
    <app-employee-card [employee]="employee" (selectionChange)="onItemSelected()"></app-employee-card>
</div>
<h2>Operations</h2>
<form class="example-form">
    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>ID</mat-label>
        <input matInput placeholder="Ex:" value="0">
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Object</mat-label>
        <textarea matInput placeholder="Ex:"></textarea>
    </mat-form-field>
</form>
<div class="example-button-row">
    <button mat-raised-button>Get</button>
    <button mat-raised-button color="primary">Post</button>
    <button mat-raised-button color="accent">Put</button>
    <button mat-raised-button color="warn">Delete</button>
</div>
<!-- <mat-form-field>
            <mat-select (selectionChange)="OnSelectionChanged($event)" multiple placeholder="Product">
                <mat-option *ngFor="let product of company.products" [value]="product.price">
                    {{product.name}}
                </mat-option>
            </mat-select>
        </mat-form-field> -->